
@{
    ViewBag.Title = "About";
}

<!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>Acerca de <span>Nosotros</span></h3>
        <!--/w3_short-->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li><a href="index.html">Home</a><i>|</i></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <!--//w3_short-->
    </div>
</div>
<!-- /banner_bottom_agile_info -->
<div class="banner_bottom_agile_info">
    <div class="container">
        <div class="agile_ab_w3ls_info">
            <div class="col-md-6 ab_pic_w3ls">
                <img src="~/images/inspirate1.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="col-md-6 ab_pic_w3ls_text_info">
                <h5>Acerca de <span>Artesanìas Work's</span> </h5>
                <p> Amamos Nuestra Cultura</a>
                <p>Nosotros brindamos lo mejor del arte, color y tradición Ayacuchano
                <p>Algo diferente, original y único al mejor precio.</p>
                <p>Marcamos la diferencia</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="banner_bottom_agile_info_inner_w3ls">
            <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                <figure class="effect-roxy">
                    <img src="~/images/inspirate2.jpg" alt=" " class="img-responsive" />
                    <figcaption>
                        <h3><span>S</span>emana de color & Creatividad</h3>
                        <p>Nuevos Productos</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                <figure class="effect-roxy">
                    <img src="~/images/inspirate3.jpg" alt=" " class="img-responsive" />
                    <figcaption>
                        <h3><span>C</span>olor&Tradiciòn</h3>
                        <p>Diseños exclusivos</p>
                    </figcaption>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- team -->
<div class="banner_bottom_agile_info team">
    <div class="container">
        <h3 class="wthree_text_info">Nuestros <span>Colaboradores</span></h3>
        <div class="inner_w3l_agile_grids">
            <div class="col-md-3 team-grids">
                <div class="thumbnail team-w3agile">
                    <img src="~/images/t1.jpg" class="img-responsive" alt="">
                    <div class="social-icons team-icons right-w3l fotw33">
                        <div class="caption">
                            <h4>Edu Aronés</h4>
                            <p>El mejor vendedor del mes, te atendera con es el entisiamos que le caracteriza</p>
                        </div>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                            <li>
                                <a href="#" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram">
                                    <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest">
                                    <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team-grids">
                <div class="thumbnail team-w3agile">
                    <img src="~/images/t2.jpg" class="img-responsive" alt="">
                    <div class="social-icons team-icons right-w3l fotw33">
                        <div class="caption">
                            <h4>Rosibel Sosa</h4>
                            <p>El mejor vendedor del mes, te atendera con es el entisiamos que le caracteriza</p>
                        </div>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                            <li>
                                <a href="#" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram">
                                    <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest">
                                    <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<!-- //team -->
<!-- schedule-bottom -->
<div class="schedule-bottom">
    <div class="col-md-6 agileinfo_schedule_bottom_left">
        <img src="~/images/inspirate5.jpg" alt=" " class="img-responsive" />
    </div>
    <div class="col-md-6 agileits_schedule_bottom_right">
        <div class="w3ls_schedule_bottom_right_grid">
            <h3>Ahorra hasta <span>50%</span> en esta semana</h3>
            <p> Nosotros brindamos lo mejor del arte, color y tradición Ayacuchano. Los mejores precios.
            <p>Algo diferente, original y único al mejor precio.</p>

            <div class="col-md-4 w3l_schedule_bottom_right_grid1">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <h4>Clientes</h4>
                <h5 class="counter">653</h5>
            </div>
            <div class="col-md-4 w3l_schedule_bottom_right_grid1">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <h4>Eventos</h4>
                <h5 class="counter">823</h5>
            </div>
            <div class="col-md-4 w3l_schedule_bottom_right_grid1">
                <i class="fa fa-shield" aria-hidden="true"></i>
                <h4>Premios</h4>
                <h5 class="counter">45</h5>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //schedule-bottom -->
<!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
    <div class="container">
        <h3 class="wthree_text_info">¿Cual es la <span>Tedencia?</span></h3>

        <div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
            <a href="womens.html">
                <div class="bb-left-agileits-w3layouts-inner grid">
                    <figure class="effect-roxy">
                        <img src="~/images/principal5.png" alt=" " class="img-responsive" />
                        <figcaption>
                            <h3><span>D</span>escuentos </h3>
                            <p>hasta 55%</p>
                        </figcaption>
                    </figure>
                </div>
            </a>
        </div>
        <div class="col-md-7 bb-grids bb-middle-agileits-w3layouts">
            <a href="mens.html">
                <div class="bb-middle-agileits-w3layouts grid">
                    <figure class="effect-roxy">
                        <img src="~/images/principal6.png" alt=" " class="img-responsive" />
                        <figcaption>
                            <h3><span>D</span>escuentos </h3>
                            <p>hasta 60%</p>
                        </figcaption>
                    </figure>
                </div>
            </a>
            <a href="mens.html">
                <div class="bb-middle-agileits-w3layouts forth grid">
                    <figure class="effect-roxy">
                        <img src="~/images/principal7.png" alt=" " class="img-responsive">
                        <figcaption>
                            <h3><span>D</span>escuentos </h3>
                            <p>hasta 45%</p>
                        </figcaption>
                    </figure>
                </div>
            </a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--/grids-->
<div class="agile_last_double_sectionw3ls">
    <div class="col-md-6 multi-gd-img multi-gd-text ">
        <a href="womens.html"><img src="~/images/principal8.png" alt=" "><h4>Oferta <span>50%</span> Menos</h4></a>

    </div>
    <div class="col-md-6 multi-gd-img multi-gd-text ">
        <a href="womens.html"><img src="~/images/principal9.png" alt=" "><h4>Oferta <span>30%</span> Menos</h4></a>
    </div>
    <div class="clearfix"></div>
</div>
<!--/grids-->
<!-- /we-offer -->
<div class="sale-w3ls">
    <div class="container">
        <h6>Nosotros Ofrecemos más de <span>30%</span> de Descuento!!</h6>

        <a class="hvr-outline-out button2" href="single.html">Shop Now </a>
    </div>
</div>
<!-- //we-offer -->
<!--/grids-->
<div class="coupons">
    <div class="coupons-grids text-center">
        <div class="w3layouts_mail_grid">
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>ENVIO GRATIS!</h3>
                    <p>Por a compra mayor a s/. 50 soles </p>
                </div>
            </div>
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-headphones" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>24/7 Soporte</h3>
                    <p>Estamos para atenderte las 24 horas del día los 7 dias de la semana</p>
                </div>
            </div>
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>
                        GARANTÍA DE DEVOLUCIÓN DEL DINERO
                    </h3>
                    <p> No te guusto el producto, te devolvemos tu dinero</p>
                </div>
            </div>
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>CUPONES DE REGALOS GRATIS</h3>
                    <p>A mayor compra, mas cupones & vales de Descuento</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>
<!--grids-->